@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
    font-family: 'Gmarket Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color-main-black: #3e3e3e;
    --color-orange-main: #fe9519;
}

.assignment_give_div {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.assignment_give_box {
    display: flex;
    justify-content: center;
    background-color: var(--color-orange-main);
    color: white;
    width: 120px;
    height: 45px;
    border-radius: 8px;
}

.book_btn{
    display: flex;
    width: 35px;
    height: 35px;
}

.assignment_give_txt {
    font-size: 14px;
}

.assignment_list_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* 요소를 상하 중간에 정렬 */
    margin: 10px;
}

.assignment_list_txt {
    padding-left: 10px;
    font-family: "Noto Sans KR";
    font-weight: bold;
}

.assignmentContainer {
    display: flex;
    flex-direction: column; /* 세로로 요소들을 나열 */
    align-items: center; /
    justify-content: center;
}
.git_box {
    display: flex;
    font-family: "Noto Sans KR";
    font-weight: bold;
    border: 3px solid #d9d9d9;
    border-radius: 8px;
    width: 690px;
    height: 80px;
    margin: 10px;
}
.git_assignment_title {
    font-size: 16px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git_assignment_content {
    font-size: 13px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.git_assignment_date {
    font-size: 12px;
    color: var(--color-orange-main);
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.html\&css_box {
    display: flex;
    font-family: "Noto Sans KR";
    font-weight: bold;
    border: 3px solid #d9d9d9;
    border-radius: 8px;
    width: 690px;
    height: 80px;
    margin: 10px;
}
.html\&css_assignment_title {
    font-size: 16px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.html\&css_assignment_content {
    font-size: 13px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.html\&css_assignment_date {
    font-size: 12px;
    color: var(--color-orange-main);
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JS_box {
    display: flex;
    font-family: "Noto Sans KR";
    font-weight: bold;
    border: 3px solid #d9d9d9;
    border-radius: 8px;
    width: 690px;
    height: 80px;
    margin: 10px;
}
.JS_assignment_title {
    font-size: 16px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JS_assignment_content {
    font-size: 13px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.JS_assignment_date {
    font-size: 12px;
    color: var(--color-orange-main);
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Java_box {
    display: flex;
    font-family: "Noto Sans KR";
    font-weight: bold;
    border: 3px solid #d9d9d9;
    border-radius: 8px;
    width: 690px;
    height: 80px;
    margin: 10px;
}
.Java_assignment_title {
    font-size: 16px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Java_assignment_content {
    font-size: 13px;
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Java_assignment_date {
    font-size: 12px;
    color: var(--color-orange-main);
    width: 230px;
    height: 80px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}