<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/homeworkList.css">
</head>

<body>
    <div class="assignment_give_div">
        <div class="assignment_give_box">
            <p class="assignment_give_txt">과제부여하기</p>
        </div>
    </div>
    <div class="assignment_list_div">
        <div class="assignment_list_title">
            <img src="../../img/book-btn.png" alt="book_btn" class="book_btn">
            <p class="assignment_list_txt">과제 목록</p>
        </div>
        <div class="assignmentContainer" >
            <div class="git_box">
                <p class="git_assignment_title">[과제: 깃]</p>
                <p class="git_assignment_content">repository 생성과 push</p>
                <p class="git_assignment_date">3월 27일 월요일 19시까지</p>
            </div>
            <div class="html&css_box">
                <p class="html&css_assignment_title">[과제: HTML & CSS]</p>
                <p class="html&css_assignment_content">12기 멋사 LMS 페이지 따라가기</p>
                <p class="html&css_assignment_date">4월3일 월요일 19시까지</p>
            </div>
            <div class="JS_box">
                <p class="JS_assignment_title">[과제: JS]</p>
                <p class="JS_assignment_content">반응형 웹페이지 만들어보기</p>
                <p class="JS_assignment_date">3월27일 월요일 19시까지</p>
            </div>
            <div class="Java_box">
                <p class="Java_assignment_title">[과제: Java]</p>
                <p class="Java_assignment_content">클래스 속성을 이용해서 은행계좌 만들기</p>
                <p class="Java_assignment_date">3월27일 월요일 19시까지</p>
            </div>
        </div>
    </div>
</body>
</html>